<header class="header">
      <div data-w-id="1b1bca74-ba9f-0978-fa6c-42b2b360f21a" data-animation="over-right" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar_component w-nav">
        <div class="container-fluid">
          <a href="#" class="navbar-brand w-nav-brand"><img src="{{ 'image-logo.svg' | asset_url }}" loading="lazy" width="150" height="32" alt="Hausandhaus Logo" class="logo-img"></a>
          <nav role="navigation" class="navbar-collapse w-nav-menu">
            <div class="nav_header">
              <a href="#" class="navbar-brand w-nav-brand"><img src="{{ 'image-logo.svg' | asset_url }}" loading="lazy" width="150" height="32" alt="Hausandhaus Logo" class="logo-img"></a>
              <div class="menu-wrapper">
                <div class="menu-toggle w-nav-button">
                  <div class="menu-toggle-wrapper">
                    <div class="menu-list top"></div>
                    <div class="menu-list mid"></div>
                    <div class="menu-list bottom"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-menu">
              <a href="#" class="nav-link w-nav-link">Buy</a>
              <a href="#" class="nav-link w-nav-link">Rent</a>
              <div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown">
                <div class="nav-dropdown-toogle w-dropdown-toggle">
                  <a href="#" class="nav-link w-nav-link">Off Plan</a>
                </div>
                <nav class="nav-dropdown_list w-dropdown-list">
                  <div class="dropdown_list">
                    <a href="#" class="dropdown-link w-nav-link">About Off Plan</a>
                    <a href="#" class="dropdown-link w-nav-link">Off Plan Properties</a>
                    <a href="#" class="dropdown-link w-nav-link">Developers</a>
                  </div>
                </nav>
              </div>
              <a href="#" class="nav-link w-nav-link">Commercial</a>
              <a href="#" class="nav-link w-nav-link">Contact</a>
              <div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown">
                <div class="nav-dropdown-toogle w-dropdown-toggle">
                  <div class="dropdown-text">More</div>
                  <div class="icon_small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6 9l6 6l6 -6"></path>
                    </svg></div>
                </div>
                <nav class="nav-dropdown_list w-dropdown-list">
                  <div class="dropdown_list is-more">
                    <div id="w-node-_76832618-acfc-cf34-67f1-2b439f3e5e46-b360f21a" class="footer-menu">
                      <div class="nav-title">Services</div>
                      <ul role="list" class="footer-menu-list w-list-unstyled">
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small is-last w-nav-link">About Off Plan</a>
                        </li>
                      </ul>
                    </div>
                    <div id="w-node-_3e506eea-64f9-1826-2547-42976e20bad2-b360f21a" class="footer-menu">
                      <div class="nav-title">Services</div>
                      <ul role="list" class="footer-menu-list w-list-unstyled">
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small is-last w-nav-link">About Off Plan</a>
                        </li>
                      </ul>
                    </div>
                    <div id="w-node-_9601e3ce-214b-4080-206f-595abd6ff6cf-b360f21a" class="footer-menu">
                      <div class="nav-title">Services</div>
                      <ul role="list" class="footer-menu-list w-list-unstyled">
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small is-last w-nav-link">About Off Plan</a>
                        </li>
                      </ul>
                    </div>
                    <div id="w-node-_16f9fe25-7d54-0464-99dd-937b25a3845e-b360f21a" class="footer-menu">
                      <div class="nav-title">Services</div>
                      <ul role="list" class="footer-menu-list w-list-unstyled">
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small w-nav-link">About Off Plan</a>
                        </li>
                        <li class="footer-menu-item">
                          <a href="#" class="dropdown-link is-small is-last w-nav-link">About Off Plan</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="whatsapp-burger">
                <a href="#" class="whatsapp-button w-inline-block">
                  <div class="whatsapp-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                      <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"></path>
                    </svg></div>
                  <div>WhatsApp</div>
                </a>
              </div>
            </div>
          </nav>
          <div class="menu-wrapper">
            <a href="#" class="whatsapp-button w-inline-block">
              <div class="whatsapp-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                  <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"></path>
                </svg></div>
            </a>
            <div data-w-id="1b1bca74-ba9f-0978-fa6c-42b2b360f231" class="menu-toggle w-nav-button">
              <div class="menu-toggle-wrapper">
                <div class="menu-list top"></div>
                <div class="menu-list mid"></div>
                <div class="menu-list bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>