<section class="section_component">
  <div class="container">
    <div class="landing-content-wrapper blog">
      <div class="blog-wrapper">
        <div
          data-w-id="6d0810a6-30a0-8221-b449-7b6a878beb82"
          style="opacity:0"
          class="content-section padding-0">
          <h1>{{ article.title }}</h1>
        </div>
        <div
          data-w-id="2ca453c6-39a3-3564-7bfc-6eba71fccdc5"
          style="opacity:0"
          class="richtext">
          {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Blog Body",
    "presets": []
  }
{% endschema %}