<section class="section_component">
  <div class="container">
    <div class="landing-content-wrapper blog">
      <div class="blog-wrapper">
        <div
          data-w-id="5173ed16-5e00-38cc-2a95-391775a3264d"
          style="opacity:0"
          class="content-section padding-0">
          <h1>{{ article.title }}</h1>
        </div>
        <div
          data-w-id="5173ed16-5e00-38cc-2a95-391775a32651"
          style="opacity:0"
          class="richtext">
          {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Blog Body",
    "presets": []
  }
{% endschema %}