<section class="section_faq">
  <div class="container">
    <div class="faq-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 data-w-id="f73b16f2-ed5b-0d41-7358-0d1b4c6ed194">{{ block.settings.heading }}</h2>
        {%- endcase -%}
      {%- endfor -%}

      <div data-w-id="f73b16f2-ed5b-0d41-7358-0d1b4c6ed197" class="faq_component">
        {% for item in section.settings.faq_items %}
          <div data-w-id="f73b16f2-ed5b-0d41-7358-0d1b4c6ed198" class="faq_content">
            <div class="faq_title">
              <div>{{ item.title }}</div>
              <div class="faq_icon">
                <div class="plus_icon vertical"></div>
                <div class="plus_icon horizontal"></div>
              </div>
            </div>
            <div class="answer-wrapper">
              <div class="answer-text">
                <p>{{ item.content }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "FAQ",
    "blocks": [
      {
        "type": "heading",
        "name": "Heading Block",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "t:sections.faq.blocks.heading.settings.heading.default",
            "label": "t:sections.faq.blocks.heading.settings.heading.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ",
        "blocks": [
          {
            "type": "heading"
          }
        ]
      }
    ]
  }
{% endschema %}