<section class="section_hero">
  <div class="background-hero">
    <div class="overlay-background"></div>
  </div>
  <div class="container">
    <div class="hero-wrapper">
      <div data-w-id="cd70fec6-cb71-dd90-8474-3ea641b7eda6" style="opacity:0" class="hero_content">
        <h1>{{settings.hero_heading}}</h1>
        <div>{{settings.hero_subheading}}</div>
        <div class="button-wrapper padding-top-medium">
          <a href="{{blogs.news.url}}" class="button w-inline-block">
            <div>Read the full article</div>
          </a>
        </div>
      </div>
    </div>
    <div class="search-box">
      <div data-w-id="8b6865d9-c0b5-6d09-871d-e16f70b69cd0" style="opacity:0" class="search-box-wrapper w-form">
        <form action="/search" role="search" id="search-box" name="email-form" data-name="Email Form" method="get"
          class="search_content" data-wf-page-id="66e6ed97469869045902b714"
          data-wf-element-id="8b6865d9-c0b5-6d09-871d-e16f70b69cd1">

          <div class="property-form">
            <div class="search-wrapper">
              <div class="icon_small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                  <path d="M21 21l-6 -6"></path>
                </svg></div><input class="search-field w-input" maxlength="256" name="q" data-name="q"
                placeholder="City, building or community" type="text" id="Search">
            </div>
          </div><input type="submit" data-wait="Please wait..." class="button w-button" value="Search">
        </form>
      </div>
    </div>
  </div>
</section>