:root {
  --primary: #1d0c4b;
  --white: white;
  --secondary: #6622f4;
  --border-color: #e0e3e2;
  --text-primary: #565e59;
  --grey: #f6f6f1;
  --text-grey: #adb4af;
  --horizontal-line: #f3f3f3;
  --black: #000;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: var(--primary);
  font-family: Neuzeit Office, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: .875rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
}

h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

p {
  margin-bottom: 0;
}

.navbar_component {
  z-index: 999;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header.background-primary {
  background-color: var(--primary);
  position: static;
}

.container-fluid {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar-brand {
  padding-left: 0;
}

.logo-img {
  object-fit: contain;
  width: 100%;
  height: 3.5rem;
}

.navbar-menu {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-link {
  color: var(--white);
  border-bottom: 1px solid #0000;
  padding: .75rem 0;
  line-height: 120%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.nav-link:hover {
  border-bottom-color: var(--secondary);
}

.nav-link.w--current {
  border-style: none none solid;
  border-width: 1px;
  border-color: black black var(--secondary);
  color: var(--white);
}

.whatsapp-button {
  grid-column-gap: .65rem;
  grid-row-gap: .65rem;
  border: 1px solid var(--secondary);
  color: var(--white);
  border-radius: 3.25rem;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  display: flex;
}

.whatsapp-button:hover {
  background-color: var(--white);
  color: var(--primary);
}

.whatsapp-icon {
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.section_hero {
  margin-bottom: 3rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 90.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.hero-wrapper {
  padding-top: 16.6875rem;
  padding-bottom: 13.6875rem;
  position: relative;
}

.hero_content {
  color: var(--white);
  text-align: center;
}

.button-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-wrapper.padding-top-medium {
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  display: flex;
}

.button-wrapper.padding-top-large {
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  display: flex;
}

.button-wrapper.padding-top-large.align-left {
  justify-content: flex-start;
  align-items: center;
}

.button-wrapper.gap-large {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

.button {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
}

.button:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.button.is-icon {
  width: 3rem;
  overflow: hidden;
}

.button.is-icon.is-footer:hover {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--primary);
}

.button.is-secondary {
  border-color: var(--border-color);
  background-color: var(--white);
  color: var(--primary);
  white-space: nowrap;
  border-radius: .5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 400;
  transition-property: none;
}

.button.is-secondary:hover {
  color: var(--primary);
}

.button.is-secondary.left-0 {
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.button.is-secondary.is-results-btn {
  border-radius: 40px;
}

.button.is-secondary.is-results-btn.is-left {
  padding-left: 1rem;
  flex: none;
}

.button.is-secondary.is-results-btn.is-right {
  padding-right: 1rem;
  flex: none;
}

.button.is-light:hover {
  border-color: var(--white);
  background-color: var(--white);
  outline-offset: 0px;
  color: var(--primary);
  outline: 3px #083819;
}

.button.is-text {
  border-style: none none solid;
  border-bottom-color: var(--primary);
  color: var(--primary);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0000;
  border-radius: 0;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: .75rem;
  line-height: 120%;
}

.button.is-text:hover {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
  color: var(--primary);
}

.button.is-contact {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: none;
  border-radius: 8px;
  width: 140px;
  height: auto;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.button.is-contact:hover {
  color: var(--white);
  font-weight: 700;
}

.button.is-contact._2 {
  width: 180px;
}

.background-hero {
  background-image: url('home_banner.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay-background {
  color: var(--primary);
  background-color: #0006;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.search-box {
  z-index: 50;
  width: 100%;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: -3rem;
}

.search-box-wrapper {
  background-color: var(--white);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  color: var(--text-primary);
  border-radius: .5rem;
  padding: 1.5rem;
  box-shadow: 0 0 2px #00000029, 0 0 20px #0000000f;
}

.search_content {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.checkbox-component {
  background-color: #f6f6f1;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.property-form {
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  justify-content: flex-start;
  align-items: center;
  width: 32rem;
  height: 3rem;
  display: flex;
}

.property-select {
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0 1rem;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
}

.property-select:active,
.property-select:focus {
  border-color: #0000;
}

.property-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.checkbox-field {
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  margin-bottom: 0;
  padding-left: 0;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.type-label {
  margin-bottom: 0;
  position: relative;
}

.type-label.is-active {
  color: var(--white);
}

.type-checkbox {
  border: 1px solid var(--grey);
  background-color: var(--grey);
  border-radius: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
}

.type-checkbox.w--redirected-checked {
  border: 1px solid var(--primary);
  background-color: var(--white);
  border-radius: .5rem;
  margin-top: 0;
  margin-left: 0;
}

.search-field {
  color: var(--text-primary);
  border: 1px solid #0000;
  flex: 0 auto;
  width: 100%;
  max-width: 21.875rem;
  margin-bottom: 0;
}

.search-field:active,
.search-field:focus {
  border-color: #0000;
}

.search-wrapper {
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;
}

.search-wrapper.background-white {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: 8px;
  max-width: 360px;
}

.search-wrapper.background-white.is-filter {
  justify-content: flex-start;
  align-items: center;
}

.icon_small {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
}

.select-wrapper {
  border-right: 1px solid var(--border-color);
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.select-wrapper.is-filter {
  border: 1px solid var(--border-color);
  border-radius: .5rem;
}

.select-wrapper.no-border {
  border: 1px #000;
}

.section_component.sticky-top {
  z-index: 9;
  position: sticky;
  top: 0;
}

.section_component.is-dialog {
  z-index: 99;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 15vh;
  display: none;
  position: absolute;
  inset: 0% 0% auto;
}

.section_title-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.review-wrapper {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  justify-content: center;
  align-items: stretch;
  margin-top: 2.5rem;
  display: flex;
}

.review_content {
  grid-column-gap: .65rem;
  grid-row-gap: .65rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vertical-line {
  background-color: var(--primary);
  width: 1px;
  height: auto;
}

.featured-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.featured-card {
  background-color: var(--grey);
  background-image: url('fill-1.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: .5rem;
  padding: 4rem 3rem;
  line-height: 140%;
}

.featured-card.item-2 {
  background-image: url('fill-2.svg');
}

.property-search {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: .5rem;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  display: flex;
}

.icon_tiny {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.icon_tiny.is-color {
  color: var(--secondary);
}

.button-submit-icon {
  opacity: 0;
  position: absolute;
  inset: 0%;
}

.property_select-wrapper.background-white {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: 8px;
}

.property-list {
  background-color: #0000;
}

.propert-radio {
  margin-bottom: 0;
  padding: .5rem 1rem;
  font-size: .875rem;
  line-height: 120%;
  position: relative;
}

.property-item {
  border: 1px #0000;
  border-radius: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.property-item.w--redirected-checked {
  border: 1px none var(--primary);
  background-color: var(--primary);
}

.property-item.w--redirected-focus {
  border: 1px none var(--primary);
  background-color: var(--primary);
  box-shadow: 0 0 #0000;
}

.property-item.background,
.property-item.background-grey {
  background-color: var(--grey);
}

.property-item.background-grey.w--redirected-checked {
  background-color: var(--secondary);
}

.property-wrapper {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: .5rem;
  margin-top: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  overflow: hidden;
}

.property-wrapper.full-width {
  width: 100%;
}

.reviews-wrapper {
  text-align: center;
  width: 100%;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.features-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.featured-button {
  border-bottom: 2px solid var(--white);
  color: var(--text-grey);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0000;
  padding: 1rem 0;
  font-size: .75rem;
  font-weight: 700;
  line-height: 120%;
}

.featured-button.is-sale {
  border-bottom-color: var(--secondary);
  color: var(--primary);
}

.features-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.5rem;
  display: flex;
}

.features-list.is-rent {
  display: none;
}

.features-list.is-sale.top-0 {
  margin-top: 0;
}

.menu-wrapper,
.nav_header {
  display: none;
}

.cta-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--primary);
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .65fr;
  grid-auto-columns: 1fr;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  display: grid;
}

.cta-content {
  color: var(--white);
  line-height: 120%;
}

.cta-image {
  height: 18.375rem;
  overflow: hidden;
}

.cta-title {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25rem;
  display: flex;
}

.cta-tag {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1;
  display: flex;
}

.news-title {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.article-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.5rem;
}

.article-wrapper.is-rent {
  display: none;
}

.article-card {
  color: var(--primary);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;
  text-decoration: none;
}

.article_thumbnail {
  border-radius: .3125rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.article_detail {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  display: flex;
}

.article-date {
  color: var(--text-primary);
  font-size: .875rem;
  font-weight: 400;
}

.article-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article_slider {
  background-color: #0000;
  height: auto;
}

.article-slide {
  width: 23.25%;
  margin-right: 2rem;
}

.slide-dot {
  padding-top: 0;
  display: none;
  bottom: -3rem;
}

.find_content {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.faq-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.section_faq {
  background-color: var(--grey);
}

.faq_component {
  margin-top: 2.5rem;
}

.faq_content {
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  padding-top: .75rem;
  padding-bottom: .75rem;
  line-height: 140%;
}

.faq_title {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.faq_icon {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
  position: relative;
}

.plus_icon {
  background-color: var(--text-grey);
  width: 100%;
  height: 1px;
  position: absolute;
}

.plus_icon.horizontal {
  top: 50%;
  transform: translate(0, -50%);
}

.plus_icon.vertical {
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.answer-wrapper {
  padding-right: 2rem;
  overflow: hidden;
}

.answer-text {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.footer-component {
  background-color: var(--primary);
  color: var(--white);
}

.footer-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.subscribe-form {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.subscribe-input {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: .5rem;
  justify-content: flex-start;
  align-items: center;
  width: 21.875rem;
  height: 3rem;
  display: flex;
}

.terms-and-privacy {
  color: var(--white);
  font-size: .75rem;
  line-height: 1rem;
}

.footer-menu-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-menu-list {
  margin-bottom: 0;
  padding-left: 0;
}

.footer-menu-item {
  margin-bottom: .25rem;
}

.footer-link {
  color: var(--white);
  border-bottom: 1px solid #0000;
  line-height: 120%;
  text-decoration: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.footer-link:hover {
  border-bottom-color: var(--white);
}

.footer-link.is-small {
  font-size: .875rem;
}

.popular-search {
  margin-top: 4.5rem;
}

.popular-button {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  border-top: 1px solid var(--text-primary);
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.popular-search-grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 1.5rem;
  display: grid;
  overflow: hidden;
}

.popular-content {
  border-bottom: 1px solid var(--text-primary);
  cursor: pointer;
  line-height: 140%;
}

.popular-icon {
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
  position: relative;
}

.popular-link {
  overflow: hidden;
}

.footer-bottom-links {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5rem;
  display: flex;
}

.footer-bottom-content {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

.social-links {
  grid-column-gap: .875rem;
  grid-row-gap: .875rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.social-link {
  color: var(--secondary);
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.social-link:hover {
  color: var(--white);
}

.icon_large {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.internal-static-links {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.cookie-component {
  z-index: 10;
  width: 100vw;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}

.cookie-content {
  background-color: var(--primary);
  opacity: .9;
  color: var(--white);
  text-align: center;
  border-radius: .25rem;
  width: 100%;
  max-width: 56.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: .8125rem;
  font-size: .75rem;
  line-height: 120%;
  box-shadow: 1px 1px 3px #0003;
}

.nav-dropdown-toogle {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  color: var(--white);
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.nav-dropdown_list {
  background-color: #0000;
}

.nav-dropdown_list.w--open {
  right: 0;
}

.dropdown_list {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: .5rem;
  width: 12rem;
  margin-top: .25rem;
  padding: .5rem 1.25rem;
}

.dropdown_list.is-more {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: auto;
  min-width: 56rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
}

.dropdown-link {
  border-bottom: 1px solid #0000;
  width: 100%;
  padding: .5rem 0;
  line-height: 120%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.dropdown-link:hover {
  border-bottom-color: var(--primary);
}

.dropdown-link.is-small {
  border-bottom-color: var(--grey);
  font-size: .875rem;
}

.dropdown-link.is-small:hover {
  border-bottom-color: var(--primary);
}

.dropdown-link.is-small.is-last {
  border-bottom-color: #0000;
}

.dropdown-text {
  color: var(--white);
  border-bottom: 1px solid #0000;
  padding: .75rem 0;
  line-height: 120%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.nav-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

.section_filter {
  z-index: 1020;
  background-color: var(--grey);
  padding-top: .75rem;
  padding-bottom: .75rem;
  position: sticky;
  top: 0;
}

.filter_form {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: .5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.filter-search-wrapper {
  background-color: var(--grey);
  width: 100%;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.filter-search-features {
  width: 100%;
}

.search-form {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  color: var(--text-primary);
}

.search-form.bottom-0 {
  width: 100%;
  margin-bottom: 0;
}

.buy_select-wrapper {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: .5rem;
}

.buy-select {
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0 1rem;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
}

.buy-select:active,
.buy-select:focus {
  border-color: #0000;
}

.buy-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.min_price_select-wrapper.background-white {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: 8px;
}

.min-price-select {
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  width: 8.125rem;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0 1rem;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
}

.min-price-select:active,
.min-price-select:focus {
  border-color: #0000;
}

.min-price-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.max_price_select-wrapper.background-white {
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: 8px;
}

.max-price-select {
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  width: 8.125rem;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0 1rem;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
}

.max-price-select:active,
.max-price-select:focus {
  border-color: #0000;
}

.max-price-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.beds-select {
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0 1rem;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
}

.beds-select:active,
.beds-select:focus {
  border-color: #0000;
}

.beds-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.button-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
}

.button-filter:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.button-filter.is-icon {
  width: 3rem;
  overflow: hidden;
}

.button-filter.is-icon.is-footer:hover {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--primary);
}

.button-filter.is-secondary {
  border-color: var(--border-color);
  background-color: var(--white);
  color: var(--text-primary);
  white-space: nowrap;
  border-radius: .5rem;
  height: 2.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 120%;
  transition-property: none;
}

.button-filter.is-secondary:hover {
  color: var(--primary);
}

.button-filter.is-light:hover {
  border-color: var(--white);
  background-color: var(--white);
  outline-offset: 0px;
  color: var(--primary);
  outline: 3px #083819;
}

.button-filter.is-text {
  border-style: none none solid;
  border-bottom-color: var(--primary);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0000;
  border-radius: 0;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: .75rem;
  line-height: 120%;
}

.button-filter.is-text:hover {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
  color: var(--primary);
}

.slick-slider {
  background-color: #0000;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.search-results-wrapper {
  z-index: 20;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 2rem;
  display: grid;
  position: relative;
}

.heading-left {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.search-results-heading {
  margin-bottom: 0;
  font-size: 20px;
}

.search-results-count {
  margin-bottom: 0;
}

.heading-right {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.order-by-select {
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
}

.order-by-select:active,
.order-by-select:focus {
  border-color: #0000;
}

.order-by-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.icon_full {
  object-fit: cover;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  display: flex;
}

.order-by-item {
  border: 1px #0000;
  border-radius: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
}

.order-by-item.w--redirected-checked {
  border: 1px none var(--primary);
  background-color: var(--primary);
}

.order-by-item.w--redirected-focus {
  border: 1px none var(--primary);
  background-color: var(--primary);
  box-shadow: 0 0 #0000;
}

.order-by-item.background,
.order-by-item.background-grey {
  background-color: var(--grey);
}

.order-by-item.background-grey:hover,
.order-by-item.background-grey.w--redirected-checked {
  background-color: var(--secondary);
}

.property-card-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 24px;
  display: grid;
}

.property-card-text-wrapper-properties {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.search-result-images {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.search-result-single-image {
  position: relative;
}

.search-result-grid-images {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.search-result-grid-image-single {
  position: relative;
}

.property-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.propery-other-image {
  width: 100%;
  height: 100%;
}

.property-card-text-top {
  padding: 1.5rem;
}

.price {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.title {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--text-primary);
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  display: flex;
}

.title-text {
  color: var(--text-primary);
  margin-bottom: 0;
}

.intro-text-property {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 700;
}

.icon-items {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  display: flex;
}

.bulding_type-prop {
  color: var(--text-primary);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 120%;
}

.vetical-line-property {
  background-color: var(--grey);
  color: var(--border-color);
  width: 2px;
  height: 20px;
}

.div-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-bk-bedroom {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-text {
  color: var(--primary);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 120%;
}

.icon-bk-bathroom {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.slide-line {
  background-color: var(--primary);
  color: var(--border-color);
  width: 1px;
  height: 20px;
}

.person-contact {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-style: solid none none;
  border-width: 1px;
  border-color: var(--horizontal-line) black black;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  display: flex;
}

.contact-items {
  padding: 0 24px 24px;
}

.person-img-data {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.person-img {
  object-fit: contain;
  width: 44px;
  height: 44px;
}

.name {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.job-title {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.res-offplan-container {
  padding-top: 48px;
  padding-bottom: 16px;
}

.description {
  color: var(--text-primary);
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 140%;
}

.text-link {
  text-decoration: underline;
}

.slide-nav {
  display: none;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
}

.arrow-wrapper {
  border: 1px solid var(--horizontal-line);
  background-color: var(--white);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
}

.left-arrow {
  justify-content: flex-start;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
}

.right-arrow {
  justify-content: flex-end;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
}

.offplan-slider-item {
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.mask {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}

.image-section {
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  max-height: 216px;
  position: relative;
}

.image-section._2 {
  height: 100%;
  max-height: 17.25rem;
}

.content-btn-section {
  flex-flow: column;
  display: flex;
}

.content-section {
  flex-flow: column;
  padding: 16px;
  display: flex;
}

.content-section.padding-0 {
  padding: 0;
}

.developer {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 140%;
}

.location {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--text-primary);
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  display: flex;
}

.location-name {
  color: var(--text-primary);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 120%;
}

.infos-sec {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.text-span {
  color: var(--text-primary);
  font-weight: 400;
}

.paragraph {
  margin-bottom: 2px;
}

.offplan_ctas {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-top: 1px solid var(--horizontal-line);
  justify-content: center;
  align-items: center;
  padding: 12px;
  display: flex;
}

.slick-slider-wrapper {
  background-color: #0000;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}

.status-flag {
  z-index: 1;
  background-color: var(--primary);
  border-radius: 8px;
  padding: 4px 16px;
  position: absolute;
  inset: 2% auto auto 2%;
}

.paragraph-2 {
  color: var(--white);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.blur-cardimage {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.offmarket-image-content {
  color: var(--white);
  line-height: 140%;
}

.text-align-center {
  text-align: center;
  max-width: 400px;
  margin-bottom: 0;
}

.load-more-wrap {
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 88px;
  display: flex;
}

.pages-count {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  line-height: 120%;
  display: flex;
  width: 100%;
  flex: auto
}



.control-select {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--text-primary);
  background-color: #0000;
  border: 1px solid #0000;
  justify-content: space-between;
  align-items: center;
  min-height: 2.375rem;
  margin-bottom: 0;
  padding: 0 .5rem 0 1rem;
  font-size: .875rem;
  line-height: 120%;
  display: flex;
}

.control-select:active,
.control-select:focus {
  border-color: #0000;
}

.control-select.is-filter {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  width: auto;
}

.page-count {
  color: var(--text-primary);
  border: 1px #0000;
  border-radius: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  font-size: 14px;
  line-height: 100%;
}

.page-count.w--redirected-checked {
  border: 1px none var(--primary);
  background-color: var(--primary);
}

.page-count.w--redirected-focus {
  border: 1px none var(--primary);
  background-color: var(--primary);
  box-shadow: 0 0 #0000;
}

.page-count.background,
.page-count.background-grey {
  background-color: var(--grey);
}

.page-count.background-grey:hover,
.page-count.background-grey.w--redirected-checked {
  background-color: var(--secondary);
}

.breadcrumb-module-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding-top: 20px;
  padding-bottom: 18px;
  display: flex;
}

.breadcrumb-item {
  color: var(--text-primary);
  font-size: 12px;
  line-height: 140%;
  text-decoration: none;
}

.landing-content-wrapper,
.feature-developer-wrapper {
  padding-top: 64px;
}

.developer-list-feature {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 1.5rem;
  display: grid;
}

.offplan-feature-item {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  flex-flow: column;
  display: flex;
}

.developer-image {
  background-color: var(--white);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 6.25rem;
  display: flex;
  position: absolute;
  inset: 3% auto auto 2%;
}

.developer-content-section {
  padding: 20px;
}

.prop-developer-items {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 1.5rem;
  display: grid;
}

.developer-logo-list {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 120px;
  display: flex;
}

.developer-logo {
  object-fit: contain;
  width: 70%;
  height: 100%;
  max-height: 5rem;
}

.developer-logo.is-small {
  width: 60%;
  height: auto;
}

.guides_card_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 64px;
  padding-bottom: 84px;
  display: grid;
}

.guides_card_list-developer {
  align-items: center;
  display: flex;
}

.guides_card_item-developer {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: grid;
}

.right_sections-guide {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 32px;
  display: flex;
}

.guides_cta_section {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.guide-image {
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  width: 100%;
}

.cta-link {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.property-slider {
  width: 23.25%;
  margin-right: 2rem;
}

.propery-agent {
  width: 100%;
}

.modal-dialog {
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.modal-content {
  background-color: var(--white);
  border-radius: 8px;
  flex-flow: column;
  width: 100%;
  max-width: 27.125rem;
  padding: 32px 32px 12px;
  display: flex;
}

.modal-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  display: flex;
}

.form {
  flex-flow: column;
  display: flex;
}

.list-inline-item {
  border: 1px solid var(--black);
  -webkit-text-stroke-width: 20px;
  -webkit-text-stroke-color: var(--primary);
}

.list-inline-item.w--redirected-checked {
  color: var(--black);
  background-color: #0000;
  background-image: url('download-9.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  border-style: solid;
}

.list-inline-item.w--redirected-focus {
  border-color: var(--black);
  box-shadow: 0 0 #0003;
}

.list-inline-item-checkbox {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 20px;
  display: block;
}

.modal-filter-item,
.grid-2 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 12px;
  display: grid;
}

.top-large {
  margin-top: 24px;
}

.dialog-overlay {
  z-index: 99;
  background-color: var(--black);
  opacity: .6;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 991px) {

  .navbar_component,
  .header.background-primary {
    height: 4.5rem;
  }

  .navbar-collapse {
    z-index: -1;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
  }

  .navbar-menu {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 6rem 1.25rem 2.5rem;
    overflow: auto;
  }

  .nav-link {
    border-bottom: 1px solid var(--border-color);
    color: var(--primary);
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .whatsapp-burger {
    display: none;
  }

  .whatsapp-button {
    color: var(--secondary);
    border-style: none;
    width: 2rem;
    height: 2rem;
  }

  .whatsapp-button:hover {
    color: var(--secondary);
    background-color: #0000;
  }

  .whatsapp-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .search-wrapper.background-white.is-filter {
    max-width: none;
  }

  .select-wrapper.no-border.hide-tablet {
    display: none;
  }

  .section_title-wrapper,
  .reviews-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .menu-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .menu-toggle {
    padding: 0;
  }

  .menu-toggle.w--open {
    background-color: #0000;
  }

  .nav_header {
    z-index: 999;
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu-toggle-wrapper {
    grid-column-gap: .35rem;
    grid-row-gap: .35rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    position: relative;
  }

  .menu-list {
    background-color: var(--white);
    width: 100%;
    height: 1px;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
  }

  .menu-list.mid {
    top: 50%;
    transform: translate(0);
  }

  .menu-list.top {
    top: 50%;
    transform: translate(0, -.45rem);
  }

  .menu-list.bottom {
    top: 50%;
    transform: translate(0, .45rem);
  }

  .cta-wrapper {
    grid-template-columns: 1fr;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .cta-image {
    display: none;
  }

  .article-slide {
    width: 30.25%;
  }

  .slide-dot {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .faq-wrapper,
  .footer-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer-content {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-menu-wrapper {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .footer-menu.is-resources {
    display: none;
  }

  .popular-search {
    margin-top: 4rem;
  }

  .popular-search-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer-bottom-links {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 4rem;
  }

  .nav-dropdown {
    margin-left: 0;
    margin-right: 0;
  }

  .nav-dropdown-toogle {
    color: var(--primary);
  }

  .nav-dropdown_list.w--open {
    position: relative;
  }

  .dropdown_list.is-more {
    width: 100%;
    min-width: auto;
  }

  .dropdown-link,
  .dropdown-text {
    border-bottom: 1px solid var(--border-color);
    color: var(--primary);
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .search-results-wrapper {
    grid-template-columns: 1fr;
  }

  .heading-right {
    justify-content: flex-start;
    align-items: center;
  }

  .property-card-wrapper {
    grid-template-columns: 1fr;
  }

  .prop-developer-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .guides_card_item-developer {
    grid-template-columns: 1fr;
  }

  .property-slider {
    width: 47.75%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  .navbar_component,
  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .hero-wrapper {
    padding-top: 9rem;
    padding-bottom: 0;
  }

  .search_content {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .search_content.is-filtered {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .property-form,
  .checkbox-field {
    width: 100%;
  }

  .review-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }

  .vertical-line {
    display: none;
  }

  .featured-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .features-wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cta-wrapper {
    padding: 2rem;
  }

  .news-title {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .article-slide {
    width: 47%;
  }

  .footer-content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .popular-search {
    margin-top: 3rem;
  }

  .popular-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .popular-search-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;
  }

  .footer-bottom-links {
    margin-top: 3rem;
  }

  .dropdown_list.is-more {
    grid-template-columns: 1fr 1fr;
  }

  .nav-title {
    margin-bottom: .875rem;
  }

  .filter_form {
    width: 100%;
  }

  .developer-list-feature {
    grid-template-columns: 1fr;
  }

  .prop-developer-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .property-slider {
    width: 47%;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .button {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .button.is-icon.is-footer {
    border-color: var(--secondary);
  }

  .button.is-icon.is-footer:hover {
    border-bottom-color: var(--white);
    background-color: var(--white);
    color: var(--primary);
  }

  .button.is-secondary {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
  }

  .button.is-contact._2 {
    display: none;
  }

  .property-form {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    border-style: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;
  }

  .property-select {
    width: 100%;
  }

  .search-wrapper {
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    height: 3rem;
  }

  .icon_small {
    width: 1rem;
    height: 1rem;
  }

  .select-wrapper {
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    width: 100%;
    height: 3rem;
  }

  .select-wrapper.no-border {
    border-style: none;
  }

  .section_component.is-dialog {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .section_title-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .review-wrapper {
    flex-flow: column;
  }

  .featured-card {
    padding: 2rem 1.5rem;
  }

  .property_select-wrapper {
    width: 100%;
  }

  .reviews-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .features-list.is-sale {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .features-list.is-sale.top-0 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .heading {
    font-size: 1.25rem;
  }

  .cta-wrapper {
    font-size: .875rem;
  }

  .article-wrapper.is-sale {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .article-slide {
    width: 100%;
  }

  .faq-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .faq_content {
    font-size: .875rem;
  }

  .footer-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .footer_form {
    margin-bottom: 0;
  }

  .subscribe-input {
    width: 100%;
  }

  .footer-link {
    font-size: .875rem;
  }

  .popular-search {
    margin-top: 2rem;
  }

  .popular-content {
    font-size: .875rem;
  }

  .footer-bottom-links {
    margin-top: 2rem;
  }

  .social-link {
    width: 2rem;
    height: 2rem;
  }

  .filter_form {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    border-style: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;
  }

  .buy_select-wrapper,
  .buy-select,
  .min_price_select-wrapper,
  .min-price-select,
  .max_price_select-wrapper,
  .max-price-select,
  .beds-select {
    width: 100%;
  }

  .button-filter.is-icon.is-footer {
    border-color: var(--secondary);
  }

  .button-filter.is-icon.is-footer:hover {
    border-bottom-color: var(--white);
    background-color: var(--white);
    color: var(--primary);
  }

  .button-filter.is-secondary {
    grid-column-gap: .65rem;
    grid-row-gap: .65rem;
    flex: none;
    width: 3rem;
    height: 3rem;
    padding-left: 0;
    padding-right: 0;
    font-size: .875rem;
    display: flex;
  }

  .filter_title {
    display: none;
  }

  .search-results-wrapper {
    grid-template-columns: 1fr;
  }

  .heading-right {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .order-by-select {
    width: 100%;
    font-size: .875rem;
  }

  .property-card-text-wrapper-properties {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .search-result-images {
    grid-template-columns: 1fr;
  }

  .search-result-grid-images {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-items {
    flex-flow: wrap;
  }

  .person-contact {
    justify-content: center;
  }

  .pages-count {
    white-space: nowrap;
    flex: none;
    font-size: .875rem;
  }

  .control-select {
    width: 100%;
  }

  .prop-developer-items {
    grid-template-columns: 1fr 1fr;
  }

  .guides_card_wrapper {
    grid-template-columns: 1fr;
  }

  .property-slider {
    width: 100%;
  }

  .pagination_title {
    display: none;
  }
}

#w-node-_63d6b63f-d07d-6339-07d1-6f30e4c2710b-5902b714 {
  align-self: center;
}


@font-face {
  font-family: 'Neuzeit Office';
  src: url('NeuzeitOfficeRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuzeit Office';
  src: url('NeuzeitOfficeBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}