{% assign page_id = "66efa8c9a5bb21f0aa0b81f8" %}


<section class="section_component">
    <div class="container">
        <div data-w-id="b8d99177-7a75-1733-ef97-6fd2592f23e3" class="breadcrumb-module-wrapper">
            <a href="{{shop.url}}" class="breadcrumb-item w-inline-block">
                <p>Home</p>
            </a>
            <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
                    viewbox="0 0 16 16" transform="rotate(-90)">
                    <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
                    </path>
                </svg></div>
            <a href="{{page.url}}" class="breadcrumb-item w-inline-block">
                <p>{{page.title}}</p>
            </a>

        </div>
    </div>
</section>
<section class="section_component">
    <div class="container">
        <div class="landing-content-wrapper">
            <div data-w-id="7bc9fdea-201a-4548-cce7-ab796688bc7d" style="opacity:0" class="content-section padding-0">
                <h1>We're here to help</h1>
                <p class="description">Looking for expert advice or further support?</p>

                <p class="description max-width-45">From Property Consultants to Marketing experts, Support and more,
                    our team of real estate specialists is here to help.
                    If you're not sure who to speak to, our Customer Service team can guide you.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section_component">
    <div class="container">
        <div class="section_title-wrapper">
            <div class="featured-wrapper">
                <div id="w-node-_20b76ba4-bd18-9d95-17b8-947e29dc8702-aa0b81f8"
                    data-w-id="20b76ba4-bd18-9d95-17b8-947e29dc8702" style="opacity:0" class="featured-card">
                    <h3>Dubai Communities</h3>
                    <div>Covering 100+ communities, we can help you find one <br>that ticks your boxes.
                    </div>
                    <div class="button-wrapper padding-top-large align-left">
                        <a href="#" class="button w-inline-block">
                            <div>Explore Dubai</div>
                        </a>
                    </div>
                </div>
                <div id="w-node-_20b76ba4-bd18-9d95-17b8-947e29dc870d-aa0b81f8"
                    data-w-id="20b76ba4-bd18-9d95-17b8-947e29dc870d" style="opacity:0" class="featured-card item-2">
                    <h3>Find your consultant</h3>
                    <div>Search our team of 289 property experts to get <br>professional guidance.<br></div>
                    <div class="button-wrapper padding-top-large align-left">
                        <div class="w-form">
                            <form action="/search" role="search" id="email-form-2" name="email-form-2"
                                data-name="Email Form 2" method="get" class="find_content"
                                data-wf-page-id="66e6ed97469869045902b714"
                                data-wf-element-id="dae0f266-6909-60a6-7f6a-29508525f9df">
                                <div class="property-search">
                                    <div class="search-wrapper">
                                        <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewbox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                                <path d="M21 21l-6 -6"></path>
                                            </svg></div><input class="search-field w-input" maxlength="256" name="q"
                                            data-name="Find your consultant" placeholder="Name or department"
                                            type="text" id="Find-your-consultant">
                                    </div>
                                </div>
                                <div class="button is-icon">
                                    <div class="icon_small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                            <path d="M21 21l-6 -6"></path>
                                        </svg></div><input type="submit" data-wait="Please wait..."
                                        class="button-submit-icon w-button" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>